body {
  font-family: Arial, sans-serif;
  background-color: black; /* Define o fundo preto */
  color: white; /* Define a cor do texto como branco */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}

.game-container {
  background-color: rgba(0, 0, 0, 0.8); /* Fundo preto com transparência */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid white; /* Borda branca */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
}

#mensagem {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

#players {
  text-align: center;
  margin-bottom: 20px;
}

#players input, #players button {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  background-color: white; /* Fundo branco para inputs e botão */
  color: black; /* Texto preto para inputs e botão */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#reiniciarBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: white; /* cor do fundo */
  color: black; /* cor do texto */
  border: none;
  border-radius: 25px; /*  formato arredondado */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}

#reiniciarBtn:hover {
  background-color: #e0e0e0; /* Mudança de cor ao passar o mouse */
}

#iciarBtn {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: white; /* cor do fundo */
  color: black; /* cor do texto */
  border: none;
  border-radius: 25px; /*  formato arredondado */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}

#iniciarBtn:hover {
  background-color: #e0e0e0; /* Mudança de cor ao passar o mouse */
}
